.rest-behind-nav{
    /* container height will be same as picture height */
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .top-box{
        margin-top: -10px;
        height: auto;
        h2{
            font-size: 90px;
            color: rgb(50, 150, 50);
            cursor: pointer;
        }
    }  
}

#about-body{
    .blue-content{
        background-color: #ddddc2;
        /* margin-top: 200px; */
    }
    
    .blue-box{
        padding-top: 80px;
        height: auto;
    }
    
    h2{
        color: rgb(0, 0, 0);
        line-height: 60px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .blue-box {
        background-color: rgba(255, 228, 196, 0);
    
        p{
            color: rgb(0, 0, 0);
            text-align: justify;
        }
        
    }
}

