@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

a, li{
    text-decoration: none;
    list-style: none;
}

.top-half{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-top{
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.behind-nav{
    /* container height will be same as picture height */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

.right-content{
    max-width: 100%;
    height: 100%;
    background-color: rgb(207, 109, 147);
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        margin-top: 180px;
        height: 700px;
        width: 50vw;
        padding-bottom: 15px;
    }
}

.left-content{
    margin: 50px 0px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 640px;
    justify-self: center;
}

p{
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 40px;
}

h1{
    text-align: center;
    line-height: 60px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(50, 150, 50);
    cursor: pointer;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn{
    border: 2px solid black;
    padding: 15px;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    color: black;
    transition: 0.3s;

    &:hover{
        background-color: rgba(107, 107, 197, 0.281);
    }
}

.btn-blue{
    border: 2px solid rgba(13, 62, 141, 0.575);
    background-color: rgba(13, 62, 141, 0.575);
    padding: 15px;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    transition: 0.3s;

    &:hover{
        color: black;
        background-color: rgba(107, 107, 197, 0.281);
    }
    
}

.nav-and-logo{
    margin-top: -20px;
    min-height: 185px;
    max-width: 100%;
    display: flex;
    width: 100%;
}

.hamburger{
    display: none;
    img{
        height: 35px;
    }
}

.nav-container{
    width: 90%;
    height: auto;
}

.logo img{
    cursor: pointer;
    width: 300px; 
    /* adjust size or will overflow */
}

.login img{
    height: 27px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    height: 75px;
    border-radius: 50px;
    padding: 0px 20px;
    background: rgb(255, 255, 255);
    justify-content: center;
    box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
}

.login{
    margin: 0px 20px;

    a{
        margin-left: 10px;
    }
}

li{
    margin: 40px;
    font-size: 20px;
    font-weight: 600;
}

ul a{
    color: rgb(50, 150, 50);
    transition: 0.6s;

    &:hover{
        color: rgb(13, 62, 141);
    }
}

.btn-li{
    border: 2px solid rgba(22, 41, 22, 0.562);
    background-color: rgb(50, 150, 50);          
    justify-content: center;

    a{
        color: white;
        transition: 0s;

    }
    &:hover{
        background-color: rgb(36, 127, 139);
        color: aliceblue;
    }
}

.first-body{
    min-height: 640px;
    display: flex;
    justify-content: center;
}

.student-info{
    box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
    border-radius: 30px;
    // background-image: url("/images/meinfopic.svg");
    // background-position: center;
    // background-size: contain;
    // background-repeat: no-repeat;
    background-color: aliceblue;
    height: 370px;
    width: 570px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;

    header{
        align-items: flex-start;
        flex-direction: column;
    }

    p{
        line-height: 10px;
        margin-bottom: 15px;
    }

    h1{
        line-height: 40px;
        margin-bottom: 40px;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.719);
    }

    span{
        color: rgba(50, 150, 50, 0.781);
    }

}

.three-pics{
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img{
        box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
        border-radius: 30px;
        height: 370px;
        width: 570px;
        background-color: aliceblue;
        /* height: 30vh;
        width: 23vw; */
    }
}

.three{
    position: relative;
}

.tabs{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    gap: 10px;
    width: 95%;
    justify-content: flex-start;
    .green{
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-color: rgb(1, 248, 1);
        box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
    }

    .yellow{
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-color: rgb(243, 178, 0);
        box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
    }

    .red{
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-color: rgba(212, 32, 32, 0.897);
        box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
    }
    
}

.container-body{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    height: auto;
}

.blue-content{
    background-color: rgb(221, 221, 194);
    /* margin-top: 200px; */
}

.curve img{
    margin-top: -50px;
    width: 100%;
}

.blue-box{
    margin-top: -10px;
    height: auto;
    background-color: #042444;
    img{
        padding-bottom: 90px;
    }

    .xyz{
        text-decoration: none;
        color: rgb(8, 231, 8);
    }
}

h2{
    text-align: center;
    line-height: 60px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 80px;
}

.blue-box {

    p{
        color: aliceblue;
        font-size: 20px;
    }

    .container-body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 90vh;
    }
    
}

#labs{
    background-color: aliceblue;
    background-image: url(images/code-gif.svg);
    background-size: cover;
    background-position: 30vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.lab-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3{
        font-size: 30px;
    }

    .exercises{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: 40px;
    }

    .labs-flex{
        padding: 20px 15px;
        height: 100%;
        background-image: url("/images/bg.svg");
        background-repeat: no-repeat;
        background-color: aliceblue;
        box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: rgb(0, 0, 0);
        a{
            color: rgb(175, 124, 13);
        }
    }

    .lab-tabs{
        display: flex;
        gap: 10px;
        width: 95%;
        justify-content: flex-start;
        margin-bottom: 30px;
        .lab-green{
            height: 20px;
            width: 20px;
            border-radius: 20px;
            background-color: rgb(1, 248, 1);
            box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
        }
    
        .lab-yellow{
            height: 20px;
            width: 20px;
            border-radius: 20px;
            background-color: rgb(243, 178, 0);
            box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
        }
    
        .lab-red{
            height: 20px;
            width: 20px;
            border-radius: 20px;
            background-color: rgba(212, 32, 32, 0.897);
            box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.377);
        }
        
    }
}

footer{
        background-color: palevioletred;
        height: auto;
        h3{
            font-size: 40px;
            color: green;
            align-self: center;
            margin-left: 20px;
        }
        p{
            align-self: flex-start;
            justify-self: flex-start;
            text-align: left;
            margin: 0px 0px;
            margin-left: 20px;
            // width: 40vw;
        }
        .container-body{
            margin-top: 0px;
            padding: 0pc 70px;
            padding-top: 30px;
            height: 100%;
            li{
                margin: 2vh;
            }
        }
        a{
            color: aliceblue;
        }

        .footer-links{
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
        }

        .footer-grid{
            display: grid;
            grid-template-columns: 4fr 4fr;
            grid-gap: 20px;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .logo{
            img{
                height: 190px;
                width: 100%;
                margin-top: -120px;
                margin-left: -60px;
            }
        }

        .right{
            display: grid;
            grid-template-rows: 0.7fr 1fr 1fr;
            align-items: flex-start;
            justify-content: flex-start;

            li{
                margin-top: 0px;
                margin-bottom: 30px;
            }
           
        }

        .left{
            display: grid;
            grid-template-rows: 1.3fr 1fr;
            grid-gap: 30px;
            align-items: center;
            justify-content: center;
            h3{
                margin-left: 60px;
            }
        }

        .connect-options{
            display: grid;
            grid-template-rows: 40px 40px;
            grid-gap: 20px;
            margin-top: 30px;
                a{
                    transition: 0.6s;
                
                    &:hover{
                        color: rgb(13, 62, 141);
                    }
                }
        }

        .socials{
            display: flex;
            align-items: center;
            justify-content: left;
            margin: 30px 30px;
            img{
                height: 30px;
                margin: 30px 30px;
            }
        }

        .follow-me{
            align-self: center;
        }

        .cpy-rgt{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 40px;
        }

        .phone-mail{
            display: none;
        }
}

#projects{
    background-color: #ddddc2;
    .exercises{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: 40px;
    }

    .proj-link{
        font-weight: bolder;
        transition: 0.5s;
        &:hover{
            color: #042444;
        }
    }
}

#resume{
    h1{
        padding: 30px 0px;
        padding-bottom: 50px;
    }
    .exercises{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 80px;
        p{
            color: chocolate;
            padding: 50px 30px;
            font-size: 300%;
        }
    }
}

#contact{
    .blue-box{
        h2{
            padding: 50px 0px;
            color: #042444;
        }
        background-color: #ddddc2;
        .container-body{
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    #status{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: bolder;
        color: rgb(94, 180, 13); 
        margin-bottom: 70px;
        padding: 10px 0px;
        width: 95%;
    }

    form{
        display: grid;
        width: 95%;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        background-color: rgba(31, 99, 158, 0.205);
        border: 2px solid rgb(18, 100, 2);
        padding: 20px 30px;
        margin-bottom: 50px;
    }
    
    .form-group{
        width: 100%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }

    .form-group input{
        margin-top: 10px;
        width: 100%;
        height: 50px;
        padding: 10px;
        font-size: 18px;
        border: 3px solid rgb(18, 100, 2);
    }

    textarea{
        margin-top: 10px;
        width: 100%;
        height: 200px;
        padding: 10px;
        font-size: 18px;
        border: 3px solid rgb(18, 100, 2);
        resize: none;
    }

    button{
        width: 110px;
        height: 40px;
        font-size: 20px;
        border: 3px solid rgb(18, 100, 2);
        font-family: 'Comfortaa', cursive;
        transition: 0.2s;

        &:hover{
            background-color: #7ca8d4d2;
        }
    }
}








